.label{
  font-size:18px;
}
input{
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
}
select{
  font-size: 1rem;
  padding: 0.3rem 0.2rem;
}
.table{
  max-width: 900px;
  margin:  5rem auto;
  border-radius: 0.5rem;
  padding: 40px;
  box-shadow: 3px 3px 20px rgb(0 0 0 / 30%);
}
.table__header,.table__footer, .pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.table__header{
  margin-bottom: 1rem;
}
.right{
  position: relative;
}
.cancel-search{
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  cursor: pointer;
}
.cancel-search i{
  font-size: 1rem;
  color: rgb(66, 60, 60);
}
ul{
  display: flex;
  list-style: none;
  padding: 0;
}
li{
  padding: 8px 15px;
  cursor: pointer;
  /* border: 1px solid black; */
  margin: 5px;
  border-radius: 2px;
  
} 
li:hover{
  color: #fff;
  border-color:rgb(66, 60, 60) ;
  background-color: rgb(66, 60, 60);
}
.page__current{
  color: #333 !important;
  border: 1px solid #979797;
  background: linear-gradient(to bottom, white 0%, #6e6d6d 100%);
}
.btn{
  cursor: pointer;
  padding: 8px 15px;
  margin: 0 0.2rem;
}
.btn:hover{
  background-color: #333;
  color: #fff;
}
.btn-disable{
  opacity: 0.8;
  cursor: default;

}
.btn-disable:hover{
  background-color: #fff;
  color: black;
}

  #example {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    margin:  5rem auto;
    border-radius: 0.5rem;
    padding: 40px;
    box-shadow: 3rem 2rem 2rem #191d271a,-2rem -1rem 10rem #191d271a;
  
  }
  
  #example td, #example th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #example tr:nth-child(even){background-color: #f2f2f2;}
  
  #example tr:hover {background-color: #ddd;}
  
  #example th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fff;
    color:#333;
    cursor: pointer;
  }
  #example .title__name{
   float: left;
   width: fit-content;
  }
  #example span{
  float: right;
  display: flex;
  flex-direction: column;
  
  }
  #example span i{
    height: 1px;
  }
  